* {
  border-radius: 10px;
  border: none;
  font-size: 22px;
}

window {
  background-color: rgb(43, 48, 59);
  border: 3px solid #33ccff;
  color: white;
}

#entry:selected {
  background-color: #33ccff;
  background: linear-gradient(90deg, #33ccff, #00ff99)
}

#entry {
  border-radius: 10px;
  padding: 5px;
}

#input {
  background-color: rgb(43, 48, 59);
  color: #ffffff;
  margin: 10px;
  padding: 5px;
  box-shadow: none;
}
