* {
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

window {
  background-color: rgb(43, 48, 59);
  border: 3px solid #33ccff;
  color: white;
}

#entry:selected {
  background-color: #33ccff;
  background: linear-gradient(90deg, #33ccff, #00ff99)
}

#text:selected {
  color: #333333;
}

#input {
  border-radius: 10px;
  background-color: rgb(43, 48, 59);
  color: #ffffff;
  margin: 5px;
  box-shadow: none;
}

#entry {
  border-radius: 10px;
  padding: 5px;
}

image {
  margin-left: 4px;
  margin-right: 4px;
}
